.database {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.database .card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.database .card .flex-1 {
  padding-left: 2%;
}

.database .card object {
  width: 20px;
}

.database .card p {
  font-size: 20px;
  font-family: 'Segoe UI Regular';
  color: #6A6D70;
}

.database .card p span {
  font-size: 70px;
  font-family: 'Segoe UI Bold';
  color: #2E79A3;
}

@media screen and (max-width: 700px) {
  .database .card object {
    width: 15px;
  }
  
  .database .card p {
    font-size: 15px;
  }
  
  .database .card p span {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .database .card object {
    width: 10px;
  }
  
  .database .card p {
    font-size: 10px;
  }
  
  .database .card p span {
    font-size: 30px;
  }
}