.info {
  background-color: #fff;
  padding-bottom: 40px;
}

.info h1 {
  font-family: 'Segoe UI Bold';
  font-size: 50px;
  color: #2E79A3;
}

.info p {
  color: #888B8E;
  font-family: 'Segoe UI Regular';
}

.info .illustration {
  padding: 40px;
}

.info .illustration object {
  float: right;
  width: 60%;
  height: auto;
}

@media screen and (max-width: 715px) {
  .info .flex-50 {
    flex: 100%;
  }

  .info .illustration object {
    width: 80%;
  }
}